.bottom-nav {
  height: 6em;
}

h2.navbar-item.title.is-4:before {
  content: 'WRA: ';
  padding-right: 10px;
}

.bottom-nav-item-link.px-4 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.bottom-nav-item-link > .icon {
  height: 2em;
  width: 2em;
}

.bottom-nav-item-link .fa-3x {
  font-size: 2em;
}

.bottom-nav-item-link span {
  font-size: 0.9em;
}
